<div
    class="flex items-center justify-between h-[635px] overflow-hidden bg-[#0488A6]"
>
    <!-- Contenedor para la imagen con restricciones -->
    <div class="flex-shrink-0 flex-grow h-full max-w-[42rem]">
        <img
            src="images/imagen2.png"
            alt="Imagen"
            class="w-full h-full object-cover"
        />
    </div>

    <!-- Texto centrado en el espacio restante -->
    <div class="flex flex-col justify-center px-[4rem] w-[52%]">
        <h1
            class="text-[5.375rem] text-white font-normal leading-[4.73rem] py-[53px]"
        >
            Certifica <br /><span class="block">tu Experiencia</span>
        </h1>
        <p class="text-[1.25rem] text-white pt-[1rem]">
            Rheoli University proporciona certificaciones y capacitaciones para
            profesionales de alto nivel, para lo que se utilizan metodologías y
            herramientas acordes a las exigencias internacionales.
        </p>
        <p class="text-[1.25rem] text-white mt-5 pb-[53px]">
            Certificamos tus competencias y habilidades profesionales.
        </p>
    </div>
</div>