
    <div class="flex items-center justify-between h-[35rem] overflow-hidden bg-[#0488A6]">
        <!-- Contenedor para la imagen con restricciones -->
        <div class="flex-shrink-0 max-w-[42rem] max-h-[35rem]">
            <img src="images/imagen2.png" alt="Imagen" class="w-full h-full object-contain">
        </div>

        <!-- Texto centrado en el espacio restante -->
        <div class="flex flex-col justify-center px-[8rem]">
            <h1 class="text-[5.375rem] text-white font-normal leading-[4.73rem] pb-[53px]">
                Certifica <br><span class="block">tu Experiencia</span>
            </h1>
            <p class="text-[1.25rem] text-white mt-4">
                Rheoli University proporciona certificaciones y capacitaciones para profesionales de alto nivel, para lo que se utilizan metodologías y herramientas acordes a las exigencias internacionales.
            </p>
            <p class="text-[1.25rem] text-white mt-4">
                Certificamos tus competencias y habilidades profesionales.
            </p>
        </div>
    </div>

