
<h1 class="text-[#0488A6] w-[20rem] md:w-full lg:w-full text-[2rem] md:text-[2.5rem] lg:text-[4rem] ml-[2rem] mt-8 md:ml-10 md:mt-10 lg:ml-20 lg:mt-20 font-bold">
    Explora nuestros cursos
</h1>

    <swiper-container class="mySwiper" slides-per-view="auto" pagination="true" pagination-clickable="true">
        <swiper-slide class="relative flex justify-between items-start ml-[2rem] my-8 md:ml-10 md:my-10 lg:ml-15 lg:my-20 bg-[#FFF] w-[17rem] h-[11rem] md:w-[40rem] md:h-[25rem] lg:w-[70rem] lg:h-[600px] p-[17px] sm:p-[65px] sm:px-[80px] flex-row rounded-[17px] shadow-[0px_10px_25px_rgba(2,64,89,0.2)]">
            <!-- Logo centrado en móviles, alineado a la izquierda en pantallas grandes -->
            <div class="lg:w-1/2">
                <!-- Para móviles: Logo centrado y más grande -->
                <div class="sm:hidden absolute inset-0 flex justify-center items-center">
                    <img src="images/logo3.png" alt="Logo" class="h-[5.5rem] md:h-[3rem] lg:h-[120px]" />
                </div>
    
                <!-- Para pantallas medianas y grandes: Logo centrado con tamaños ajustados -->
                <div class="hidden sm:flex flex-col justify-start items-start">
                    <img src="images/logo3.png" alt="Logo" class="h-[3.5rem] md:h-[5rem] lg:h-[10rem] lg:m-[1.5rem]" />
                    
                    <p class="text-[#024059] md:w-[20rem] lg:w-[40rem] md:text-[0.9rem] lg:text-[18px] text-left leading-[130%] md:my-[1rem] lg:m-[2rem]">
                        Rheoli presenta formatos de entrenamientos focalizados en construir equipos de alto desempeño dentro de la compañía, dando énfasis en las materias atingentes a los desafíos actuales, con aplicación práctica y experiencia internacional. Junto al equipo de relatores expertos y reconocidos, entregamos un sello distintivo de calidad en cada ciclo de aprendizaje.
                    </p>
    
                    <a
                        href=""
                        class="flex h-[1.8rem] justify-center items-center md:mx-[0.4rem] md:px-[2rem] md:py-[1rem] md:text-[1rem] lg:ml-[2rem] lg:px-[4rem] lg:py-[1.5rem] lg:text-[24px] flex-shrink-0 bg-[#04C4D9] text-white transition hover:bg-[#0488A6] rounded"
                        style="border-top-left-radius: 0; border-top-right-radius: 3.2rem; border-bottom-left-radius: 3.2rem; border-bottom-right-radius: 0;"
                    >
                        Ver cursos
                    </a>
                </div>
            </div>
    
            <!-- Imagen decorativa (oculta en móviles) -->
            <img src="images/fondocards1.png" alt="Curso" class="hidden sm:block absolute top-0 right-0 h-[150px] md:h-[15rem] lg:h-[25rem]" />
        </swiper-slide>  
    
    
    
        <swiper-slide class="relative flex justify-between items-start ml-[2rem] my-8 md:ml-10 md:my-10 lg:ml-15 lg:my-20 bg-[#FFF] w-[17rem] h-[11rem] md:w-[40rem] md:h-[25rem] lg:w-[70rem] lg:h-[600px] p-[17px] sm:p-[65px] sm:px-[80px] flex-row rounded-[17px] shadow-[0px_10px_25px_rgba(2,64,89,0.2)]">
            <!-- Logo centrado en móviles, alineado a la izquierda en pantallas grandes -->
            <div class="lg:w-1/2">
                <!-- Para móviles: Logo centrado y más grande -->
                <div class="sm:hidden absolute inset-0 flex justify-center items-center">
                    <img src="iconos/trecert.png" alt="Logo" class="h-[2.9rem]" />
                </div>
        
                <!-- Para pantallas medianas y grandes: Logo centrado con tamaños ajustados -->
                <div class="hidden sm:flex flex-col justify-start items-start">
                    <img src="iconos/trecert.png" alt="Logo" class="w-[470px] h-[100px] lg:mt-[4rem]" /> <!-- Medidas ajustadas a 470px de ancho y 100px de alto -->
                    
                    <div class="absolute right-[13%] top-1/2 transform -translate-y-1/2 flex flex-col items-center">
                        <img src="iconos/anab.png" alt="" class="h-[8rem] mb-10"> <!-- Asegúrate de que no haya margen extra en el primer logo -->
                        <img src="iconos/iaf.png" alt="" class="h-[8rem]"> <!-- Segundo logo sin margen extra -->
                    </div>
                
    
                    <p class="text-[#024059] md:w-[20rem] lg:w-[40rem] md:text-[0.9rem] lg:text-[18px] text-left leading-[130%] md:my-[1rem] lg:my-[3rem]">
                        TRECCERT es una entidad certificadora de personas que otorgan certificaciones que acreditan las competencias de los profesionales. TRECCERT también ofrece soluciones de formación innovadoras basadas en las mejores prácticas y los estándares más recientes, con el objetivo de promover el desarrollo profesional y mejorar la práctica de los profesionales.
                    </p>
        
                    <a
                        href=""
                        class="flex h-[1.8rem] justify-center items-center md:mx-[0.4rem] md:px-[2rem] md:py-[1rem] md:text-[1rem] lg:px-[4rem] lg:py-[1.5rem] lg:text-[24px] flex-shrink-0 bg-[#04C4D9] text-white transition hover:bg-[#0488A6] rounded"
                        style="border-top-left-radius: 0; border-top-right-radius: 3.2rem; border-bottom-left-radius: 3.2rem; border-bottom-right-radius: 0;"
                    >
                        Ver cursos
                    </a>
                </div>
            </div>
        
            <!-- Imagen decorativa (oculta en móviles) -->
            <img src="images/fondocards2.png" alt="Curso" class="hidden sm:block absolute bottom-0 right-0 h-[150px] md:h-[15rem] lg:h-[20rem]" />
        </swiper-slide>
        
    
    
        <swiper-slide class="relative flex justify-between items-start ml-[2rem] my-8 md:ml-10 md:my-10 lg:ml-15 lg:my-20 bg-[#FFF] w-[17rem] h-[11rem] md:w-[40rem] md:h-[25rem] lg:w-[70rem] lg:h-[600px] p-[17px] sm:p-[65px] sm:px-[80px] flex-row rounded-[17px] shadow-[0px_10px_25px_rgba(2,64,89,0.2)] mr-5">
            <!-- Logo centrado en móviles, alineado a la izquierda en pantallas grandes -->
            <div class="lg:w-1/2">
                <!-- Para móviles: Logo centrado y más grande -->
                <div class="sm:hidden absolute inset-0 flex flex-col justify-center items-center">
                    <!-- Contenedor de los dos primeros logos (ru y +) en fila -->
                    <div class="flex flex-row items-center p-2">
                        <img src="iconos/LOGORU.png" alt="Logo" class="h-[4rem] md:h-[3rem] lg:h-[120px] pr-2" />
                        <img src="iconos/+.png" alt="Logo" class="h-[2rem] md:h-[3rem] lg:h-[120px]" />
                    </div>
                    <!-- Logo trecert debajo de los anteriores -->
                    <img src="iconos/trecert.png" alt="Logo" class="h-[2.5rem] md:h-[3rem] lg:h-[120px]" />
                </div>
    
    
        
                <!-- Para pantallas medianas y grandes: Logo centrado con tamaños ajustados -->
                <div class="hidden sm:flex flex-col justify-start items-start mr-5">
                    <div class="flex flex-row justify-between items-center w-full lg:mt-[3rem]">
                        <!-- Primer logo -->
                        <img src="iconos/LOGORU.png" alt="Logo" class="h-[3.5rem] md:h-[5rem] lg:h-[5.75rem] lg:m-[1.5rem]" />
                        <!-- Segundo logo -->
                        <img src="iconos/+.png" alt="Logo" class="h-[3.5rem] md:h-[5rem] lg:h-[3rem] lg:m-[1.5rem] lg:mr-[3rem]" /> <!-- Agregado margen derecho -->
                        <!-- Tercer logo -->
                        <img src="iconos/trecert.png" alt="Logo" class="w-[470px] h-[100px]" />
                    </div>
                    
        
                    <p class="text-[#024059] md:w-[20rem] lg:w-[40rem] md:text-[0.9rem] lg:text-[18px] text-left leading-[130%] md:my-[1rem] lg:m-[2rem]">
                        Rheoli presenta formatos de entrenamientos focalizados en construir equipos de alto desempeño dentro de la compañía, dando énfasis en las materias atingentes a los desafíos actuales, con aplicación práctica y experiencia internacional. Junto al equipo de relatores expertos y reconocidos, entregamos un sello distintivo de calidad en cada ciclo de aprendizaje.
                    </p>
        
                    <a
                        href=""
                        class="flex h-[1.8rem] justify-center items-center md:mx-[0.4rem] md:px-[2rem] md:py-[1rem] md:text-[1rem] lg:ml-[2rem] lg:px-[4rem] lg:py-[1.5rem]  lg:mt-2 lg:text-[24px] flex-shrink-0 bg-[#04C4D9] text-white transition hover:bg-[#0488A6] rounded"
                        style="border-top-left-radius: 0; border-top-right-radius: 3.2rem; border-bottom-left-radius: 3.2rem; border-bottom-right-radius: 0;"
                    >
                        Ver cursos
                    </a>
                </div>
            </div>
        </swiper-slide>
    </swiper-container>
</div>
<br class="hidden md:block lg:pb-[1rem]">

<!-- Swiper JS -->
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"></script>


