<div class="relative">
  <!-- Mascara fuera del footer para evitar que los paddings la afecten -->
  <img src="images/fondofooter.png" alt="Mascara" class="absolute w-[15rem] h-[11rem] md:w-[20rem] md:h-[18rem] lg:w-[32rem] lg:h-[21rem] z-10 bottom-0 left-0" />

  <!-- El footer en sí -->
  <footer class="bg-gray-800 text-white py-4 md:py-[2rem] lg:py-18 relative">
    <hr class="absolute left-0 top-0 w-[0.4rem] md:w-[0.54rem] h-full bg-[#F2F23F] border-none" />

    <div class="flex justify-between items-center px-2 md:px-6">
      <div class="relative pl-5 md:pl-[3rem] md:pr-[4rem] lg:pl-[5rem] lg:pr-[10rem]">
        <img src="images/logo1.png" alt="Logo" class="w-[8rem] h-[4rem] md:w-[18rem] md:h-[8rem] lg:w-[23rem] lg:h-[10rem]" />
      </div>

      <!-- Separador vertical -->
      <hr class="hidden sm:block w-[1px] h-[8rem] md:h-[14rem] lg:h-[16rem] bg-[#F2F23F] border-none" />

      <div class=" sm:pl-6 sm:pr-4 md:pl-[2rem] md:pr-[4rem] lg:pl-[7rem] lg:pr-[10rem]">
        <h3 class="text-[1rem] md:text-[1.3rem] lg:text-[2rem] font-semibold pb-1 md:pb-4">Contacto</h3>
        <p class="py-0.5 md:py-1 text-xs md:text-base"><a href="">Solicita información</a></p>
        <p class="py-0.5 md:py-1 text-xs md:text-base"><a href="">Preguntas frecuentes</a></p>
        <p class="py-0.5 md:py-1 text-xs md:text-base"><a href="">Certificación</a></p>
        <p class="py-0.5 md:py-1 text-xs md:text-base"><a href="">Cursos</a></p>
      </div>

      <!-- Separador vertical -->
      <hr class="hidden sm:block w-[1px] h-[8rem] md:h-[14rem] lg:h-[16rem] bg-[#F2F23F] border-none" />

      <div class="pl-8 sm:pl-8 md:pl-[2rem] lg:pl-[7rem]">
        <h3 class="hidden md:block md:text-[1.3rem] lg:text-[2rem] font-semibold pb-4">Síguenos</h3>
        <p class="flex items-center py-1 text-[#F2F23F]">
          <a href="mailto:hola@rheoliuniversity.com">
            <img src="iconos/correo1.png" alt="Correo" class="w-10 h-10 sm:w-10 sm:h-10 md:w-10 md:h-10 lg:w-10 lg:h-10 mr-3 sm:mr-5 p-1 sm:p-0" />
          </a>
          <a href="mailto:hola@rheoliuniversity.com" class="hidden md:inline hover:underline">hola@rheoliuniversity.com</a>
        </p>
        <p class="flex items-center py-1 text-[#F2F23F]">
          <a href="https://www.instagram.com/Rheoli.uni">
            <img src="iconos/instagram.png" alt="Instagram" class="w-10 h-10 sm:w-10 sm:h-10 md:w-10 md:h-10 lg:w-10 lg:h-10 mr-3 sm:mr-5 p-1 sm:p-0" />
          </a>
          <a href="https://www.instagram.com/Rheoli.uni" class="hidden md:inline hover:underline">@Rheoli.uni</a>
        </p>
        <p class="flex items-center py-1 text-[#F2F23F]">
          <a href="https://www.linkedin.com/company/RheoliUniversity">
            <img src="iconos/linkedin.png" alt="LinkedIn" class="w-10 h-10 sm:w-10 sm:h-10 md:w-10 md:h-10 lg:w-10 mr-3 sm:mr-5 p-1 sm:p-0" />
          </a>
          <a href="https://www.linkedin.com/company/RheoliUniversity" class="hidden md:inline hover:underline">Rheoli University</a>
        </p>
      </div>
    </div>
  </footer>
</div>
