<section id="inicio" class="relative">
    <div class="relative flex items-center">
        <!-- Contenedor del texto -->
        <div
            class="absolute ml-[10.68rem] mr-[56rem] mt-[16rem] mb-[13.18rem] text-[#024059] z-[30]"
        >
            <h1
                class="self-stretch text-[#024059] text-[5.375rem] font-bold leading-[88%] h-[13rem]"
            >
                Executive Program
            </h1>
            <p
                class="w-[37.5rem] h-[8.5rem] text-[#024059] font-['Helvetica'] text-[1.25rem] font-normal leading-[124.8%]"
            >
                La función de Auditoría, Riesgo y Cumplimiento ha tomado
                relevancia como nunca antes, ya sea por innovación y/o enfoque
                en la necesidad de un asesor estratégico para la alta dirección.
            </p>

            <a
                href=""
                class="h-[3.5rem] w-[15rem] justify-center px-[4.563rem] py-[6px] flex-shrink-0 border-[0.18rem] border-[#F2F23F] hover:bg-[#F2F23F] text-white text-[1.5rem] font-normal transition rounded"
                style="border-top-left-radius: 0; border-top-right-radius: 4rem; border-bottom-left-radius: 4rem; border-bottom-right-radius: 0;"
            >
                Explorar
            </a>
        </div>

        <!-- Contenedor de imágenes -->
        <div class="relative w-full h-[48rem]">
            <!-- Imagen principal -->
            <img
                src="images/ImagenHeader.png"
                alt=""
                class="absolute top-0 w-full h-[48rem] object-cover z-10"
                loading="lazy"
            />

            <!-- Máscara encima -->
            <img
                src="images/Mascara.png"
                alt=""
                class="absolute w-full h-[48rem] object-cover z-[20] pointer-events-none"
            />
        </div>
    </div>
</section>

<div class="bg-[#0488A6] h-[12rem] flex items-center justify-center">
    <!-- Icono 1: Correo -->
    <div class="flex items-center">
        <div class="relative w-[53px] h-[53px] mr-[10px]">
            <a
                href=""
                class="absolute inset-0 border-[0.13rem] border-[#F2F23F] rounded-full flex items-center justify-center"
            >
                <img
                    src="iconos/correo1.png"
                    alt="Icono de correo"
                    class="w-[70%] h-[70%] object-contain"
                />
            </a>
        </div>
        <span class="text-[#F2F23F] text-[1.25rem]">hola@rheoliuniversity.com</span>
    </div>

    <!-- Icono 2: Instagram -->
    <div class="flex items-center mx-[12rem]">
        <div class="relative w-[74px] h-[74px]">
            <a
                href=""
                class="absolute inset-0 flex items-center justify-center"
            >
                <img
                    src="iconos/instagram.png"
                    alt="Icono de Instagram"
                    class="w-[70%] h-[70%] object-contain"
                />
            </a>
        </div>
        <span class="text-[#F2F23F] text-[1.25rem]">@Rheoli.uni</span>
    </div>

    <!-- Icono 3: LinkedIn -->
    <div class="flex items-center">
        <div class="relative w-[74px] h-[74px]">
            <a
                href=""
                class="absolute inset-0 flex items-center justify-center"
            >
                <img
                    src="iconos/linkedin.png"
                    alt="Icono de LinkedIn"
                    class="w-[70%] h-[70%] object-contain"
                />
            </a>
        </div>
        <span class="text-[#F2F23F] text-[1.25rem]">@Rheoli.uni</span>
    </div>
</div>