
    <nav class="sticky top-0 z-50 border border-black bg-[#024059] shadow-lg w-full h-[8rem] flex items-center">
        <!-- Línea vertical -->
        <hr class="bg-[#F2F23F] w-[0.54rem] h-full border-none" />
 
        <!-- Logo -->
        <div class="flex items-center mt-[1.56rem] mb-[1.44rem] ml-[4.62rem] mr-[4.92rem]">
            <a href="#">
                <img src="/images/logo1.png" alt="Logo" class="h-[5.58rem] w-auto" />
            </a>
        </div>
 
        <hr class="bg-[#F2F23F] w-[0.06rem] h-[5.04rem] border-none" />
 
        <!-- Enlaces de navegación -->
        <div class="hidden sm:flex mt-[1.68rem] mb-[1.86rem] flex-wrap mx-[0.625rem]">
            <a
                href=""
                class="flex h-[1.8rem] justify-center items-center mx-[0.625rem] px-[2.46rem] py-[1.26rem] text-sm flex-shrink-0 bg-[#024059] text-white transition hover:bg-[#0488A6] rounded"
                style="border-top-left-radius: 0; border-top-right-radius: 3.2rem; border-bottom-left-radius: 3.2rem; border-bottom-right-radius: 0;"
            >
                Home
            </a>
 
            <a
                href=""
                class="flex h-[1.8rem] justify-center items-center mx-[0.625rem] px-[2.46rem] py-[1.26rem] text-sm flex-shrink-0 bg-[#024059] text-white transition hover:bg-[#0488A6] rounded"
                style="border-top-left-radius: 0; border-top-right-radius: 1.8rem; border-bottom-left-radius: 1.8rem; border-bottom-right-radius: 0;"
            >
                Certificaciones
            </a>
 
            <a
                href=""
                class="flex h-[1.8rem] justify-center items-center mx-[0.625rem] px-[2.46rem] py-[1.26rem] text-sm flex-shrink-0 bg-[#024059] text-white transition hover:bg-[#0488A6] rounded"
                style="border-top-left-radius: 0; border-top-right-radius: 1.8rem; border-bottom-left-radius: 1.8rem; border-bottom-right-radius: 0;"
            >
                Cursos y talleres
            </a>
 
            <a
                href=""
                class="flex h-[1.8rem] justify-center items-center mx-[0.625rem] px-[2.46rem] py-[1.26rem] text-sm flex-shrink-0 bg-[#024059] text-white transition hover:bg-[#0488A6] rounded"
                style="border-top-left-radius: 0; border-top-right-radius: 1.8rem; border-bottom-left-radius: 1.8rem; border-bottom-right-radius: 0;"
            >
                Diplomados
            </a>
 
            <a
                href=""
                class="flex h-[1.8rem] justify-center items-center mx-[0.625rem] px-[2.46rem] py-[1.26rem] text-sm flex-shrink-0 bg-[#024059] text-white transition hover:bg-[#0488A6] rounded"
                style="border-top-left-radius: 0; border-top-right-radius: 1.8rem; border-bottom-left-radius: 1.8rem; border-bottom-right-radius: 0;"
            >
                Clientes
            </a>
 
            <a
                href=""
                class="flex h-[1.8rem] justify-center items-center mx-[0.625rem] px-[2.46rem] py-[1.26rem] text-sm flex-shrink-0 bg-[#024059] text-white transition hover:bg-[#0488A6] rounded"
                style="border-top-left-radius: 0; border-top-right-radius: 1.8rem; border-bottom-left-radius: 1.8rem; border-bottom-right-radius: 0;"
            >
                About us
            </a>
        </div>
 
        <hr class="bg-[#F2F23F] w-[0.06rem] h-[5.04rem] border-none" />
 
        <!-- Botón hamburguesa para móviles -->
        <div class="md:hidden pr-[0.24rem]">
            <button id="menu-toggle" class="text-white">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                    class="h-[1.44rem] w-[1.44rem]"
                >
                    <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="0.12rem"
                        d="M4 6h16M4 12h16M4 18h16"></path>
                </svg>
            </button>
        </div>
 
        <!-- Menú móvil -->
        <div
            id="mobile-menu"
            class="md:hidden hidden bg-gray-800 text-white space-y-[0.24rem] py-[0.24rem] px-[0.36rem]"
        >
            <a href="#" class="block hover:text-gray-300">Inicio</a>
            <a href="#" class="block hover:text-gray-300">Servicios</a>
            <a href="#" class="block hover:text-gray-300">Sobre Nosotros</a>
            <a href="#" class="block hover:text-gray-300">Contacto</a>
        </div>
    </nav>
