<section class="relative flex flex-col bg-[#0488A6] justify-center items-center px-4">
    <div class="flex flex-col items-center w-full sm:w-[900px] md:w-[1100px] py-10 lg:py-20">
        <h1 class="text-[24px] md:text-[36px] lg:text-[72px] font-bold text-center text-white max-w-[500px] sm:max-w-[700px] md:max-w-[700px] w-[20rem] md:w-[30rem] lg:w-full mx-auto py-5 lg:py-10">
            <span class="text-[#F2F23F]">+21</span> Empresas confían en nosotros
        </h1>

        <div class="flex flex-row  justify-center gap-[20px] sm:gap-[30px] md:gap-[40px] lg:gap-[100px] py-3 lg:py-10">
            <img src="partners/ey.png" alt="" class="h-[24px] sm:h-[48px] md:h-[53px] lg:h-[78.819px] w-auto">
            <img src="partners/falabella.png" alt="" class="h-[24px] sm:h-[48px] md:h-[53px] lg:h-[78.819px] w-auto ">
            <img src="partners/pwc.png" alt="" class="h-[24px] sm:h-[48px] md:h-[53px] lg:h-[78.819px] w-auto">
            <img src="partners/sura.png" alt="" class="h-[24px] sm:h-[48px] md:h-[53px] lg:h-[78.819px] w-auto ">
            <img src="partners/entel.png" alt="" class="h-[24px] sm:h-[48px] md:h-[53px] lg:h-[78.819px] w-auto ">
        </div>

        <div class="flex flex-row justify-center items-center gap-[30px] pt-[50px] pb-[30px]">
            <h3 class="text-white text-[18px] sm:text-[24px] md:text-[32px] font-normal text-center">
                <span class="text-[#F2F23F]">+5</span> Países
            </h3>
            <h3 class="text-white text-[18px] sm:text-[24px] md:text-[32px] font-normal text-center">
                <span class="text-[#F2F23F]">+11</span> Relatores
            </h3>
        </div>
    </div>
</section>

