<div class="bg-[#0488A6] h-[8rem] md:h-[10rem] lg:h-[12rem] flex items-center justify-center">
    <div class="flex gap-[3rem] sm:gap-4 md:gap-6 lg:gap-[10rem]"> <!-- Ajuste de gap según el tamaño de la pantalla -->

        <!-- Icono 1: Correo -->
        <div class="flex items-center space-x-2"> <!-- Espaciado entre el icono y el texto -->
            <div class="relative w-[60px] sm:w-[74px] h-[60px] sm:h-[74px]">
                <a href="" class="absolute inset-0 flex items-center justify-center">
                    <img src="iconos/correo1.png" alt="Icono de Correo" class="w-[70%] h-[70%] object-contain" />
                </a>
            </div>
            <span class="text-[#F2F23F] text-[1rem] sm:text-[1.25rem] hidden sm:inline">hola@rheoliuniversity.com</span>
        </div>

        <!-- Icono 2: Instagram -->
        <div class="flex items-center space-x-2 lg:pr-5"> <!-- Espaciado entre el icono y el texto -->
            <div class="relative w-[60px] sm:w-[74px] h-[60px] sm:h-[74px]">
                <a href="" class="absolute inset-0 flex items-center justify-center">
                    <img src="iconos/instagram.png" alt="Icono de Instagram" class="w-[70%] h-[70%] object-contain" />
                </a>
            </div>
            <span class="text-[#F2F23F] text-[1rem] sm:text-[1.25rem] hidden sm:inline">@Rheoli.uni</span>
        </div>

        <!-- Icono 3: LinkedIn -->
        <div class="flex items-center space-x-2"> <!-- Espaciado entre el icono y el texto -->
            <div class="relative w-[60px] sm:w-[74px] h-[60px] sm:h-[74px]">
                <a href="" class="absolute inset-0 flex items-center justify-center">
                    <img src="iconos/linkedin.png" alt="Icono de LinkedIn" class="w-[70%] h-[70%] object-contain" />
                </a>
            </div>
            <span class="text-[#F2F23F] text-[1rem] sm:text-[1.25rem] hidden sm:inline">Rheoli University</span>
        </div>
    </div>
</div>
