<div class="bg-[#0488A6] h-[10rem] sm:h-[12rem] flex items-center justify-center">
    <div class="flex sm:pr-20">

        <!-- Icono 1: Correo -->
        <div class="flex items-center">
            <div class="relative w-[74px] h-[74px]">
                <a href="" class="absolute inset-0 flex items-center justify-center">
                    <img src="iconos/correo1.png" alt="Icono de LinkedIn" class="w-[70%] h-[70%] object-contain" />
                </a>
            </div>
            <span class="text-[#F2F23F] text-[1.25rem] hidden sm:inline">hola@rheoliuniversity.com</span>
        </div>

        <!-- Icono 2: Instagram -->
        <div class="flex items-center mx-[3rem] md:mx-[5rem] sm:mx-[9rem]">
            <div class="relative w-[74px] h-[74px]">
                <a href="" class="absolute inset-0 flex items-center justify-center">
                    <img src="iconos/instagram.png" alt="Icono de Instagram" class="w-[70%] h-[70%] object-contain" />
                </a>
            </div>
            <span class="text-[#F2F23F] text-[1.25rem] hidden sm:inline">@Rheoli.uni</span>
        </div>

        <!-- Icono 3: LinkedIn -->
        <div class="flex items-center">
            <div class="relative w-[74px] h-[74px]">
                <a href="" class="absolute inset-0 flex items-center justify-center">
                    <img src="iconos/linkedin.png" alt="Icono de LinkedIn" class="w-[70%] h-[70%] object-contain" />
                </a>
            </div>
            <span class="text-[#F2F23F] text-[1.25rem] hidden sm:inline">@Rheoli.uni</span>
        </div>
    </div>
</div>