<div class="flex flex-col bg-white lg:h-[59.375rem]">
  <!-- Botón Testimonios -->
  <div class="flex pt-[4rem] pl-[2rem] lg:pt-[6rem] lg:pl-[6rem]">
    <a
      href=""
      class="flex h-[2.2rem] justify-center items-center px-[2rem] py-[1rem] lg:mx-[1rem] lg:px-[3.5rem] lg:py-[1.25rem] text-[1.125rem] flex-shrink-0 bg-[#024059] text-white transition hover:bg-[#0488A6] rounded"
      style="border-top-left-radius: 0; border-top-right-radius: 2.3rem; border-bottom-left-radius: 2.3rem; border-bottom-right-radius: 0;">
      Testimonios
    </a>
  </div>

  <!-- Título -->
  <div class="self-stretch py-[2rem] lg:pt-[4rem] lg:px-[10rem]">
    <h1 class="text-[#024059] text-center text-[2rem] lg:text-[5.375rem] font-bold lg:leading-[106%]">
      Opiniones de nuestros profesionales certificados
    </h1>
  </div>

  <!-- Testimonios (ocultos en pantallas pequeñas) -->
  <div class="mx-auto grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 mt-[5.625rem] justify-center items-center gap-[8rem] hidden lg:grid">
    
    <!-- Testimonio 1 -->
    <div class="bg-white rounded-lg max-w-[20rem] flex flex-col justify-between relative h-[21.875rem]">
      <span class="absolute left-[-2.5rem] top-[5.5rem] text-[5rem] text-[#0488A6] font-helvetica font-bold">“</span>
      <span class="absolute right-[-2.5rem] bottom-[2.1875rem] text-[5rem] text-[#0488A6] font-helvetica font-bold">”</span>
      <div class="flex flex-col justify-start pt-[1.2rem] px-[1rem]">
        <h3 class="text-[1.75rem] font-semibold text-center font-helvetica">Carlos M.</h3>
      </div>
      <div class="flex flex-col justify-between flex-grow px-[1.5rem] pt-[2rem] mt-[1.25rem]">
        <p class="text-gray-600 text-center text-[1.5rem] font-helvetica flex-grow italic">El proceso de certificación fue muy transparente y rápido.</p>
      </div>
      <div class="absolute bottom-[1rem] left-0 right-0 flex justify-center gap-[0.1875rem]">
        <img src="iconos/estrella.png" alt="Estrella" class="w-[1rem] h-[1rem]">
        <img src="iconos/estrella.png" alt="Estrella" class="w-[1rem] h-[1rem]">
        <img src="iconos/estrella.png" alt="Estrella" class="w-[1rem] h-[1rem]">
        <img src="iconos/estrella.png" alt="Estrella" class="w-[1rem] h-[1rem]">
        <img src="iconos/estrella.png" alt="Estrella" class="w-[1rem] h-[1rem]">
      </div>
    </div>

    <!-- Testimonio 2 -->
    <div class="bg-white rounded-lg max-w-[20rem] flex flex-col justify-between relative h-[21.875rem]">
      <span class="absolute left-[-2.5rem] top-[5.5rem] text-[5rem] text-[#0488A6] font-helvetica font-bold">“</span>
      <span class="absolute right-[-2.5rem] bottom-[2.1875rem] text-[5rem] text-[#0488A6] font-helvetica font-bold">”</span>
      <div class="flex flex-col justify-start py-[1.25rem] px-[1rem]">
        <h3 class="text-[1.75rem] font-semibold text-center font-helvetica">Marta L.</h3>
      </div>
      <div class="flex flex-col justify-between flex-grow px-[1.5rem] py-[0.5rem]">
        <p class="text-gray-600 text-center text-[1.5rem] font-helvetica flex-grow italic">Este sitio ha sido una gran ayuda para mejorar las competencias en gestión de calidad de todo mi equipo.</p>
      </div>
      <div class="absolute bottom-[1rem] left-0 right-0 flex justify-center gap-[0.1875rem]">
        <img src="iconos/estrella.png" alt="Estrella" class="w-[1rem] h-[1rem]">
        <img src="iconos/estrella.png" alt="Estrella" class="w-[1rem] h-[1rem]">
        <img src="iconos/estrella.png" alt="Estrella" class="w-[1rem] h-[1rem]">
        <img src="iconos/estrella.png" alt="Estrella" class="w-[1rem] h-[1rem]">
        <img src="iconos/estrella.png" alt="Estrella" class="w-[1rem] h-[1rem]">
      </div>
    </div>

    <!-- Testimonio 3 -->
    <div class="bg-white rounded-lg max-w-[20rem] flex flex-col justify-between relative h-[21.875rem]">
      <span class="absolute left-[-2.5rem] top-[5.5rem] text-[5rem] text-[#0488A6] font-helvetica font-bold">“</span>
      <span class="absolute right-[-2.5rem] bottom-[2.1875rem] text-[5rem] text-[#0488A6] font-helvetica font-bold">”</span>
      <div class="flex flex-col justify-start py-[1.25rem] px-[1rem]">
        <h3 class="text-[1.75rem] font-semibold text-center font-helvetica">Jorge R.</h3>
      </div>
      <div class="flex flex-col justify-between flex-grow px-[1rem] py-[0.5rem]">
        <p class="text-gray-600 text-center text-[1.5rem] font-helvetica flex-grow italic">La experiencia fue excelente y ya estoy tomando otro curso en la misma plataforma.</p>
      </div>
      <div class="absolute bottom-[1rem] left-0 right-0 flex justify-center gap-[0.1875rem]">
        <img src="iconos/estrella.png" alt="Estrella" class="w-[1rem] h-[1rem]">
        <img src="iconos/estrella.png" alt="Estrella" class="w-[1rem] h-[1rem]">
        <img src="iconos/estrella.png" alt="Estrella" class="w-[1rem] h-[1rem]">
        <img src="iconos/estrella.png" alt="Estrella" class="w-[1rem] h-[1rem]">
        <img src="iconos/estrella.png" alt="Estrella" class="w-[1rem] h-[1rem]">
      </div>
    </div>
  </div>
</div>



<!-- Swiper para pantallas pequeñas -->
<swiper-container class="mySwiper lg:hidden" slides-per-view="auto">
  <!-- Primer slide -->
  <swiper-slide class="relative flex justify-center items-center bg-[#FFF] w-[23rem] h-[14rem] flex-col rounded-[17px] shadow-[0px_10px_25px_rgba(2,64,89,0.2)] my-8 mx-2">
      <div class="bg-white rounded-lg flex flex-col justify-between relative w-full h-full">
          
        <div class="flex flex-col justify-center items-center text-center relative flex-grow">
          <div class="flex flex-col justify-center items-center ">
              <h3 class="text-[1.5rem] font-semibold text-center font-helvetica">Carlos M.</h3>
          </div>
          
          <span class="absolute left-[1rem] top-[5.5rem] text-[3rem] text-[#0488A6] font-helvetica font-bold">“</span>
              <p class="text-gray-600 text-[1.125rem] font-helvetica italic py-5 w-[20rem]">El proceso de certificación fue muy transparente y rápido.</p>
              <span class="absolute right-[1rem] top-[6rem] text-[3rem] text-[#0488A6] font-helvetica font-bold">”</span>
          </div>

          <div class="absolute bottom-[1rem] left-0 right-0 flex justify-center gap-[0.125rem]">
              <img src="iconos/estrella.png" alt="Estrella" class="w-[1.25rem] h-[1.25rem]">
              <img src="iconos/estrella.png" alt="Estrella" class="w-[1.25rem] h-[1.25rem]">
              <img src="iconos/estrella.png" alt="Estrella" class="w-[1.25rem] h-[1.25rem]">
              <img src="iconos/estrella.png" alt="Estrella" class="w-[1.25rem] h-[1.25rem]">
              <img src="iconos/estrella.png" alt="Estrella" class="w-[1.25rem] h-[1.25rem]">
          </div>
      </div>
  </swiper-slide>

  <!-- Segundo slide -->
  <swiper-slide class="relative flex justify-center items-center bg-[#FFF] w-[23rem] h-[14rem] flex-col rounded-[17px] shadow-[0px_10px_25px_rgba(2,64,89,0.2)] my-6 mx-4">
      <div class="bg-white rounded-lg flex flex-col justify-between relative w-full h-full">
          
        <div class="flex flex-col justify-center items-center text-center relative flex-grow">
          <div class="flex flex-col justify-center items-center ">
              <h3 class="text-[1.5rem] font-semibold text-center font-helvetica">Marta L.</h3>
          </div>
          
          <span class="absolute left-[1rem] top-[6rem] text-[3rem] text-[#0488A6] font-helvetica font-bold">“</span>
              <p class="text-gray-600 text-[1.125rem] font-helvetica italic py-2 w-[15rem]">Este sitio ha sido una gran ayuda para mejorar las competencias en gestión de calidad de todo mi equipo.</p>
              <span class="absolute right-[1rem] top-[6rem] text-[3rem] text-[#0488A6] font-helvetica font-bold">”</span>
          </div>

          <div class="absolute bottom-[1rem] left-0 right-0 flex justify-center gap-[0.125rem]">
              <img src="iconos/estrella.png" alt="Estrella" class="w-[1.25rem] h-[1.25rem]">
              <img src="iconos/estrella.png" alt="Estrella" class="w-[1.25rem] h-[1.25rem]">
              <img src="iconos/estrella.png" alt="Estrella" class="w-[1.25rem] h-[1.25rem]">
              <img src="iconos/estrella.png" alt="Estrella" class="w-[1.25rem] h-[1.25rem]">
              <img src="iconos/estrella.png" alt="Estrella" class="w-[1.25rem] h-[1.25rem]">
          </div>
      </div>
  </swiper-slide>

  <!-- Tercer slide -->
  <swiper-slide class="relative flex justify-center items-center bg-[#FFF] w-[25rem] h-[14rem] flex-col rounded-[17px] shadow-[0px_10px_25px_rgba(2,64,89,0.2)] my-6 mx-4">
      <div class="bg-white rounded-lg flex flex-col justify-between relative w-full h-full">
          
        <div class="flex flex-col justify-center items-center text-center relative flex-grow">
          <div class="flex flex-col justify-center items-center ">
              <h3 class="text-[1.5rem] font-semibold text-center font-helvetica">Jorge R.</h3>
          </div>
          
          <span class="absolute left-[1rem] top-[6rem] text-[3rem] text-[#0488A6] font-helvetica font-bold">“</span>
              <p class="text-gray-600 text-[1.125rem] font-helvetica italic py-5 w-[18rem]">La experiencia fue excelente y ya estoy tomando otro curso en la misma plataforma.</p>
              <span class="absolute right-[1rem] top-[6rem] text-[3rem] text-[#0488A6] font-helvetica font-bold">”</span>
          </div>

          <div class="absolute bottom-[1rem] left-0 right-0 flex justify-center gap-[0.125rem]">
              <img src="iconos/estrella.png" alt="Estrella" class="w-[1.25rem] h-[1.25rem]">
              <img src="iconos/estrella.png" alt="Estrella" class="w-[1.25rem] h-[1.25rem]">
              <img src="iconos/estrella.png" alt="Estrella" class="w-[1.25rem] h-[1.25rem]">
              <img src="iconos/estrella.png" alt="Estrella" class="w-[1.25rem] h-[1.25rem]">
              <img src="iconos/estrella.png" alt="Estrella" class="w-[1.25rem] h-[1.25rem]">
          </div>
      </div>
  </swiper-slide>
</swiper-container>

<!-- Swiper JS -->
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"></script>








